doctype html
html[lang="en" data-theme="light"]
  head
    title
      = content_for?(:title) ? strip_tags(yield(:title)) : "Rails Boilerplate"
    meta[name="apple-mobile-web-app-title" content="Rails Boilerplate"]
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    meta[name="apple-mobile-web-app-capable" content="yes"]
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    link[rel="icon" href="/icon.png" type="image/png"]
    link[rel="icon" href="/icon.svg" type="image/svg+xml"]
    link[rel="apple-touch-icon" href="/icon.png"]
    = vite_client_tag
    = vite_javascript_tag "admin", "data-turbo-track": "reload"
    link[href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"]

  body.bg-base-100 class=("drawer-mini" if cookies[:sidebar_collapsed] == "true") data-controller="sidebar"
    .drawer.lg:drawer-open
      input#drawer-toggle.drawer-toggle type="checkbox"
      
      .drawer-content.flex.flex-col
        / Header
        = render "layouts/admin_header"
        
        / Main Content
        main.flex-1.p-6
          = yield
      
      / Sidebar
      .drawer-side.z-40
        label.drawer-overlay for="drawer-toggle"
        = render "layouts/admin_aside_menu"
